<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let s of series; let i = index">
          <tr>
            <td>
              <dd>{{s.id}}</dd>
            </td>
            <td>
              <dd>{{s.name}}</dd>
            </td>
            <td>
              <dd>{{s.channel}}</dd>
            </td>
            <td>
              <dd>{{s.seasons}}</dd>
            </td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="1"></td>
          <td>
            <dd>Promedio de todas las seasons</dd>
          </td>
          <td>
            <dd>{{calculateTotalAverage()}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>